.main-title h1 {
    font-size: 35px !important;
    color: #6d80a0 !important;
}

.cur-ai {
    margin-top: 5px;
    height: 37px;
    border-radius: 8px;
    border-width: 2px;
    min-width: fit-content !important;
}

.cur-ai::before {
  content: "Current AI ";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999;
  font-size: 16px;
  z-index: 1;
  border-right: 2px solid #ececec;
  padding-right: 10px;
}

.cur-ai input {
    margin-left: 90px;
    color: #2e2e2f !important;
    font-size: 16px;
    font-weight: normal;
    height: 37px;
    text-align: left;
    field-sizing: content;
}

.dialog-overlay {
    position: fixed !important;
    inset: 0 !important;

    width: 100vw !important;
    height: 100vh !important;

    background: rgba(0, 0, 0, 0.1) !important;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    z-index: 99999 !important;
    margin: 0 !important;
}

.dialog-overlay .styler {
    background: transparent 
}

.dialog-panel {
    padding: 35px 35px 25px 35px!important;
    /* width: 100% !important; */
    max-width: 500px !important;
    box-sizing: border-box !important;

    background: var(--background-fill-primary) !important;
    border: 1px solid var(--border-color-primary);
    border-radius: 16px !important;
}

.gen-dialog-panel {
    min-width: 600px !important;
}

.dialog-message {
    width: 100%;
    margin-bottom: 15px;
}

.dialog-message p {
    font-size: 18px;
    color: #4d4d4d !important;
    text-align: center;
    line-height: 1.5;
}

.dialog-message span {
    font-size: 18px;
    color: #397ae2 !important;
    text-align: center;
    line-height: 1.5;
}

.dialog-confirm-btn {
    margin-right: 20px;
    border-radius: 25px;
    font-weight: normal;
}

.dialog-confirm-dark {
    background-color: #393939;
    color: #fff;
}

.dialog-confirm-normal {
    background-color: #e4e4e7;
    color: #000000;
}

.dialog-cancel-btn {
    margin-left: 20px;
    font-weight: normal;
    border-radius: 25px;
}

.input-editing {
    background-color: #c1e9f5;
}

.confirm-editing {
    background-color: #c1e9f5;
}

.selected-item {
    background-color: #eeeeee;
    border: 2px solid #2196F3;
}

.selected-item-bg {
    background-color: #f1f1f1;
}

.unselected-item {
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;

}

.radio-circle {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 2px solid #666;
    cursor: pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}
.radio-circle.selected::after {
    content:'';
    width:11px;
    height:11px;
    border-radius:50%;
    background:#2196F3;
}

.col-vert-center {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    height: stretch !important;
}

.row-click-button {
    position: absolute !important;
    inset: 0 !important;
    width: calc(100% - 60px) !important;
    height: 100% !important;
    opacity: 0 !important;
    z-index: 1 !important;
}

.card-click-button {
    position: absolute !important;
    inset: 0 !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    padding: 0 !important;
}

.clickable-item {
    cursor: pointer;
    border-radius:6px;
}

.clickable-item:hover {
    background-color:#e5e6ef;
}

.card-item {
    min-width: 150px !important;
    height: 200px !important;
    gap: 0;
}

.card-item-bg {
    background-color:#f1f1f1;
}

.fav-item-bg {
    background-color:#fff2d2;
}

.card-name-wrapper {
    overflow-y: auto;
    scrollbar-width: None;
    width: 100%;
    height: 65%;
    max-height: 65%;
    box-sizing: border-box;
    z-index: 1;
}

.card-name {
    min-height: 100%;
    display: flex ;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-name p {
    line-height: 1.2;
    font-weight: bold !important;
    font-size: 14px !important;
    color: #266598 !important;
}

.card-meta-passed {
    margin-top: 5px;
    box-sizing: border-box;
    text-align: center;
    line-height: 1;
}

.card-meta-passed p {
    color: #3bad52 !important;
}

.card-meta-favourite {
    box-sizing: border-box;
    text-align: center;
    line-height: 1;
}

.card-meta-favourite p {
    color: #e2a408 !important;
}


.exit-button {
    min-width: 70px !important;
    max-width: 70px !important;
    min-height: 42px !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.lesson-title-bar {
    padding-top: 5px;
    gap: 5px;
}

.lesson-title {
    max-height: fit-content;
    width: stretch !important;
    min-width: None;
}

.lesson-title p::before {
    content: "📖";
    font-size: 42px !important;
    line-height: 1;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.fav-title p::before {
    content: "🌟";
    font-size: 40px !important;
    top: 2px;
}

.lesson-title p {
    color: #266598 !important;
    font-size: 33px !important;
    max-height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    line-height: 1;
}

.lesson-meta {
    min-width: fit-content !important;
    border-radius: 25px;
}

.lesson-delete-btn {
    font-size: 20px;
    font-weight: normal;
    border: 0px;
    height: 42px;
    min-width: 50px;
    border-radius: 5px;
    line-height: 1;
}

.lesson-delete-btn:hover {
    background-color: #e39696;
}

.lesson-delete-btn p {
    color: #fff;
}

.lesson-meta input{
    field-sizing: content !important;
    font-size: 16px !important;
}

.lesson-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phrase p {
    text-align: center;
    font-size: 40px !important;
    color: #452e6b !important;
}

.phrase-en {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.word {
    border: 0 !important;
}

.word input {
    border-color: #000000;
    font-size: 35px;
    border: none;
    border-bottom: 2px solid;
    padding: 3px;
}

.word-punct input {
    color: #47c7b8;
    border: none;
    padding: 0;
}

.script {
    display: none;
}

.tip-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px ;
}

.tip-bubble {
    font-size:12px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    border-color: #452e6b;
    border-width: 0px; /* for later use */
    border-style: solid;
    transition: transform 0.2s ease-out;
}

.tip-incorrect {
    background: #e39696;
    color: #fff;
}

.tip-partially {
    background: #4783c7;
    color: #fff;
}

.tip-case-issue {
    background: #e4ba4d;
    color: #fff;
}

.tip-correct {
    background: #47c7b8;
    color: #fff;
}

.button-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-bar button {
    font-size: 18px;
    font-weight: normal;
    border: 0px;
    height: 35px;
}

.submit-button {
    background-color: #c8ebe7;
}

.submit-button:hover {
    background-color: #95e9df;
}

.tip-msg {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.favourite-on {
    color: #f37921;
}

.favourite-off {
    color: #000000;
}

.sort-buttons-bar {
    gap: 0px;
}

.sort-buttons-bar .row {
    gap: 0px;
}

.sort-btn
{
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}

.sort-btn:hover {
    background-color: #ecebeb;
}

.sort-btn-left {
    border-radius: 8px 0 0 8px;
    border-right: 1px solid #e2e2e2;
}

.sort-btn-right {
    border-radius: 0 8px 8px 0;
}

.sort-btn-mid {
    border-radius: 0;
    border-right: 1px solid #e2e2e2;
}

.sort-btn-active {
    background-color: #c7dbec;
}

.sort-btn-inactive {
    background-color: #f7f7f7;
}

.search-box {
    margin-left: 10px;
    height: 37px;
    border-radius: 8px;
}

.search-box::before {
  content: "🔍︎";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999;
  font-size: 16px;
  z-index: 1;
}

.search-box input {
    margin-left: 30px;
}

.progress-bar-track {
    border-radius: 25px;
    border-color: #e2e2e2;
    background-color: #f2f2f2;
    border-width: 1px;
    position: absolute;
    top: -20px;
}

.progress-bar-track .html-container {
    height: 8px;
    padding: 0;
}

.progress-bar-fill {
    left: 0;
    position: absolute;
    border-radius: 25px;
    background-color: #a2deca;
    height: 8px;
}

.progress-bar-fill-2 {
    left: 0;
    position: absolute;
    background-color: None;
    height: 8px;
}

.progress-bar-fill-2::after {
    content: "✦";
    top: 0;
    transform: translateY(-28%) translateX(-50%);
    left: 100%;
    position: absolute;
    border-radius: 25px;
    z-index: 999;
    color: #ae94e1;
    font-size: large;
}

.empty-lesson-wrapper {
    width: 100%;
    height: 400px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-lesson p {
    text-align: center;
    font-size: 30px !important;
    color: #b3b3b3 !important;
}